<header id="header">
    {{!-- Aca podemos hacer el binding de los params que mandamos desde la vista --}}
    <div class="logo"><a href="/">{{ title }}<span> {{ name }}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>